:root {
  --amarillo: #eadb0b;
  --negro: #000000;
  --blanco: #ffffff;
  --rojo: #e10;
  --gris: #7678;
  --azul: #081ae1;
  --anaranjado: #d16f1e;
}
.header {
  text-align: center;
  justify-content: center;
  background-color: var(--blanco);
}

.navegacion__enlace {
  color: var(--negro);
  font-size: 3 rem;
}
.navegacion__enlace--activo,
.navegacion__enlace:hover {
  color: var(--gris);
}

html {
  font-size: 62, 5%;
}

body {
  background-color: var(--gris);
  font-size: 2rem;
  line-height: 1.5;
}
img {
  width: 35%;
}
h2 {
  text-align: center;

  color: var(--negro);
}


.Productos {
  width: 1800px;
  overflow: hidden;
  margin: 5rem;
  border-radius: 2rem;
  img {
    width: 50%;
    height: 45%;
    transition: 3s;
  }
}
& :hover img:not(:hover) {
  filter: brightness(20%);
}

.contenido_img {
  width: 800px;
  border: 1px solid #000;
  overflow: hidden;
  line-height: 0;
  transition: 0.8s;
  &:hover {
    filter: none;
    transform: scale(1.2);
  }
}

.contenido_img {
  width: 40%;
  filter: blur(5px) grayscale(50%);
}
